body{
    font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
}

.bg-yellow{
    background-color: #FFC017;
}
.border-bottom-dark{
    border-bottom:1px solid #414141 ;
}
.but{
    margin-bottom: -20px;
    
}




    